:root {
  --orange: #FF9F1C;
  --night-black: #0C0C0C;
  --ice-white: #F4FAFF;
}

.home--body {
  color: var(--night-black);
  font-family: 'Raleway', sans-serif;
}

#outlined-basic {
  border-color: var(--orange);
  border-radius: 5px;
}

.recommended {
  background-color: antiquewhite;
  display: flex;
  overflow-x: auto;
}

.recommended::-webkit-scrollbar {
  width: 0;
}

.recommended--title {
  color: #FF9F1C;
  font-weight: 500;
  font-size: 1.5rem;
}

.recommended--card {
  background-color: var(--orange);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 12rem;
  height: 14rem;
  border-radius: 1rem;
  position: relative;
}

.recommended--card-image {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

.recommended--card-label-card {
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended--card-label {
  font-size: 0.9rem;
  text-align: center;
}


